:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Colors */
  --primary-text-cl: #434455;
  --secondary-cl: #2e2f42;
  --accent-cl: #404bbf;
  --primary-white-cl: #ffffff;
  --light-cl: #f4f4fd;
  --brand-cl: #4d5ae5;
  --label-cl: #8e8f99;
  /* Width */
  --item-width: calc((100% - 2 * 24px) / 3);
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-cl);
  background-color: var(--primary-white-cl);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding: 120px 0 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* For header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--brand-cl);
  padding: 17px 0;
  /* padding: 24px 0; */
  margin-right: 76px;
}

.logo-accent {
  color: var(--secondary-cl);
}

.header-navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: none;
}
.header-address {
  font-style: normal;
  display: none;
}
/* .navigation-list {
  display: flex;
  align-items: center;
  gap: 40px;
} */
/* Open-menu-btn */
.icon-open-menu {
  padding: 0;
  line-height: 0;
  fill: #2f2f37;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 768px) {
  .icon-open-menu {
    display: none;
  }

  .logo {
    margin-right: 120px;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .navigation-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link:hover,
  .navigation-link:focus {
    color: var(--accent-cl);
  }

  .current {
    position: relative;
    color: var(--accent-cl);
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--accent-cl);
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }

  .header-address {
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--accent-cl);
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* For Hero */
.hero,
.footer {
  background-color: var(--secondary-cl);
}

.hero {
  padding: 72px 0;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  background-size: 743px 100%;
  background-position: calc(50% - 11px) center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  /* background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    image-set(url('/images/hero-bg.webp') type('image/webp')); */
}
/* 
@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('/images/hero-bg@2x.jpg');
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      image-set(url('/images/hero-bg@2x.webp') type('image/webp'));
  }
} */

@media only screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-size: 768px 448px;
    background-position: center;
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-size: cover;
  }
}

.hero-title {
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--WHITE, #fff);
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

  /*  */
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: var(--brand-cl);
  color: var(--primary-white-cl);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-cl);
}


/* For about */

.about-wrapper {
  display: none;
}
/* @media only screen and (min-width: 1158px){

} */

@media only screen and (min-width: 1158px) {

  .about-wrapper {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;


    background-color: #F5F4FA;

  }
}


@media only screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    }
  }

@media only screen and (min-width: 1158px) {
  .about-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 768px) {
 .about-item {
  flex-basis: calc((100% - 24px)/2);
  }

 
}

@media only screen and (min-width: 1158px) {
  .about-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  }
 }



/* .about-wrapper {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;


  background-color: #F5F4FA;

  /* // @include desktop{
  //     margin-bottom: 30px;
  // } */
/* }  */




/* .about-subtitle {

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
} */

.about-subtitle {

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  /* margin-bottom: 8px; */

/* @media only screen and (min-width: 768px) {
    text-align: left;
  }
} */
}
@media only screen and (min-width: 768px) {
  .about-subtitle {
  text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
.about-subtitle { 
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--secondary-cl);
}
}
.about-icon {
  width: 70px;
  height: 70px;
}
.about-desc {

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

}


/* .about-box {
  position: relative;
  width: 264px;
  height: 112spx;
  background-color: var(--light-cl);
}
.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid var(--label-cl);
  margin-bottom: 8px;
  border-radius: 4px;
}  */

.about-subtitle,
.team-subtitle,
.team-position,
.portfolio-subtitle {
  margin-bottom: 8px;
}
.team-title,
.portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-cl);
  text-transform: capitalize;
}

/* .about-subtitle, */
.team-subtitle,
.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--secondary-cl);
}

.about-desc,
.team-position,
.portfolio-info,
.footer-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-text-cl);
}


/* For team */



.team {
  background-color: var(--light-cl);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}
@media only screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
  }
}

.team-item {
  background: var(--WHITE, #fff);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.team-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}
.team-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.team-position {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/*  
.team-subtitle,
.team-position {
  text-align: center;
} */
.networks-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.networks-item {
  width: 40px;
  height: 40px;
}
.networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--brand-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-link:hover,
.networks-link:focus {
  background-color: var(--accent-cl);
}

.networks-icon {
  fill: #f4f4fd;
}

.portfolio {
  background-color: var(--primary-white-cl);
}

.portfolio-desc {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.overlay {
  display: none;
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;

  li {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    li {
      width: calc((100% - 24px) / 2);
    }
  }
}

@media only screen and (min-width: 1158px) {
 
  .overlay {
      position: absolute;
      padding: 40px 32px;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: left;
      color: #f4f4fd;
      background-color: #4d5ae5;
    }
  .portfolio-item:hover .overlay {
      transform: translateY(0);
    }
  
  
  .portfolio-list {
    row-gap: 48px;

    li {
      width: calc((100% - 48px) / 3);
    }
  }
}




/* For footer */
.footer {
  background-color: var(--secondary-cl);
  padding: 100px 0;
}

 footer .container {
  display: flex;
  flex-direction: column;
  gap:72px;
  /* justify-content: center; */
  align-items: center;
  

}


/* .fotter-box {
  display: block; 
  margin-right: 120px;
  text-align: center;
}  */

.footer .logo {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {

  .footer .logo {
    display: inline-block;
    /* text-align: left; */
  }
}

.footer .logo-accent {
  color: var(--light-cl);
}

.footer-desc {
  max-width: 264px;
  color: var(--light-cl);
}

footer .networks-link:hover,
footer .networks-link:focus {
  background-color: #31d0aa;
}

.footer-networks-heading {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-white-cl);
  margin-bottom: 16px;
}
/* @media only screen and (min-width: 768px) {
  .portfolio-list {}
} */

@media only screen and (min-width: 1158px) {

  .footer-networks-heading {
    display: flex;
    text-align: left;
  }
}

.footer .networks-list {
  gap: 16px;
}


    .footer-wrapper {
      display: flex;
      flex-direction: column;
      gap:72px;
    }
@media only screen and (min-width: 768px) {
  .footer-wrapper {
      display:flex;
      flex-direction: row;
      gap:  24px;
    }
}
@media only screen and (min-width: 1158px) {
  .footer-wrapper {
    gap:120px;
  }
}
@media only screen and (min-width: 768px) {

  .footer-form {
    display: flex;
    gap: 24px;
  }
}
/* .footer-form {
  display: flex;
  gap: 24px;
} */

.subsc-text {
  color: var(--primary-white-cl);
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
@media only screen and (min-width: 768px) {

  .subsc-text {
    display: flex;
    text-align: left;
  }
}
.email-form {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--primary-white-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--primary-white-cl);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}
@media only screen and (min-width: 1158px) {

  .email-form {
    margin-bottom: 0;
  }
}
.email-form::placeholder {
  color: var(--primary-white-cl);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: left;
}

.email-form:hover,
.email-form:focus {
  border: 1px solid #31d0aa;
}

.email-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white-cl);
  background-color: var(--brand-cl);
  /* margin-left: 24px; */
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-btn:focus,
.email-btn:hover {
  /* background-color: var(--accent-cl); */
  background-color: #31d0aa;
}

.email-icon {
  margin-left: 16px;
  fill: var(--primary-white-cl);
}



.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* @media only screen and (min-width: 768px) {
  footer .container {
    display: flex; 
    justify-content: center;
    /align-items: baseline;
  }
} */

@media only screen and (min-width: 1158px) {

  footer .container {
    /* display: flex; */
    flex-direction: row;
    align-items: baseline;
  }
}
/* 
.footer-box {

  display: flex;
  justify-content: space-around;
  align-items: baseline;

} */










/* Modal */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 408px; */
  width: 288px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 16px;
  padding-top: 72px;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f,
    0px 2px 1px 0px #00000033;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 24px;
    padding-top: 72px;
  }
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--accent-cl);
  border: none;
}

.icon-close {
  fill: var(--secondary-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .icon-close,
.modal-button:focus .icon-close {
  fill: var(--primary-white-cl);
}

.form-heading {
  color: var(--secondary-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.inbox-form {
  margin-bottom: 8px;
}

.label-form {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--label-cl);
  margin-bottom: 4px;
}

.input-wrapper {
  /* width: 360px; */
  position: relative;
  margin-top: 4px;
}
@media screen and (min-width: 768px) {
  .input-wrapper {
    width: 360px;
  }
}
.input-style {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #2e2f4266;
  padding-left: 38px;
  cursor: pointer;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.input-style:hover,
.input-style:focus {
  border-color: var(--brand-cl);
  /* outline: 1px solid var(--brand-cl); */
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  /* fill: var(--secondary-cl); */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:hover .form-icon

/* .input-wrapper:focus .form-icon  */
  {
  fill: var(--brand-cl);
}

/* .input-style:hover .form-icon,
.input-styler:focus .form-icon {
  fill: var(--accent-cl);
} */
.input-wrapper:focus-within .form-icon {
  fill: var(--brand-cl);
}

.comment-box {
  margin-bottom: 16px;
}

.comment-area {
  width: 100%;
  display: block;
  resize: none;
  height: 120px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.comment-area:hover,
.comment-area:focus {
  /* outline: 1px solid var(--brand-cl); */
  border-color: var(--brand-cl);
}

.comment-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.modal-agreement {
  margin-bottom: 24px;
}

.modal-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-checkbox {
    margin-right: 8px;
  }
}
.modal-agreement-desc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-cl);
  /* min-width:231px; */
}

input[type="checkbox"]:checked+.modal-agreement-desc>.modal-checkbox {
  border: none;
  fill: var(--light-cl);
  border-color: var(--accent-cl);
  background-color: var(--accent-cl);
}

input[type="checkbox"]:focus-visible+.modal-agreement-desc>.modal-checkbox {
  box-shadow: 0 0 0 3px var(--accent-cl);

}

.modal-checkbox-icon {
  fill: #f4f4fd;
}

.checkbox-sel {
  color: var(--brand-cl);
  text-decoration: underline;
}

.form-btn {
  display: block;
  min-width: 169px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 16px 32px;
  margin: 0 auto;
  color: var(--primary-white-cl);
  background-color: var(--brand-cl);
  border: none;
  outline: none;
  border-radius: 4px;
  opacity: 0px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:focus,
.form-btn:hover {
  background-color: var(--accent-cl);
}

@media screen and (min-width: 768px) {
  .inbox-form {
    width: 408px;
  }
}



/* Mobile-menu */


.mobile-menu {
 
      position: fixed;
      inset: 0;
    
 
      gap: 48px;
    
      background-color:var(--primary-white-cl);
      
    
      transform: translateX(100%);
      transition: 400ms ease-in-out;
      z-index: 999;
      
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);

}

.mobile-menu-wrapper {
  padding: 40px 16px;
  padding-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    
    
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 40px;
  margin-bottom: auto;

  
}

.mob-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-button:hover,
.mob-button:focus,
.mob-button:active {
  background-color:var(--accent-cl);
  border: none;
  fill: var(--primary-white-cl);
}


.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color:var(--accent-cl);
}
.mobile-address {
  margin-right: 95px;
}


.mobile-address-list {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-contacts-link {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link.current {
  color: #4d5ae5;
}

.mob-icon-link:hover {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.mob-icon-list {
display: flex;
  gap: 40px;
  justify-content: center;
  margin-right: 0;
}
.mob-icon-item {
  width: 40px;
  height: 40px;
}

.mob-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon {
  fill: #e7e9fc;
}

.mob-icon-link:hover,
.mob-icon-link:focus {
  background-color: var(--accent-cl);
}



@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}