:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Colors */
  --primary-text-cl: #434455;
  --secondary-cl: #2e2f42;
  --accent-cl: #404bbf;
  --primary-white-cl: #ffffff;
  --light-cl: #f4f4fd;
  --brand-cl: #4d5ae5;
  --label-cl: #8e8f99;
  /* Width */
  --item-width: calc((100% - 2 * 24px) / 3);
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-cl);
  background-color: var(--primary-white-cl);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  display: inline-block;
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--brand-cl);
  padding: 24px 0;
  margin-right: 76px;
}
.logo-accent {
  color: var(--secondary-cl);
}

.navigation-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--secondary-cl);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-cl);
}

.current {
  position: relative;
  color: var(--accent-cl);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--accent-cl);
  border-radius: 2px;
}

.header-address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-text-cl);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-cl);
}
.hero,
.footer {
  background-color: var(--secondary-cl);
}
.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
  color: var(--primary-white-cl);
}
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: var(--brand-cl);
  color: var(--primary-white-cl);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-cl);
}
.about-list {
  display: flex;
  gap: 24px;
}
.about-item {
  width: calc((100% - 3 * 24px) / 4);
}
.about-box {
  position: relative;
  width: 264px;
  height: 112spx;
  background-color: var(--light-cl);
}
.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid var(--label-cl);
  margin-bottom: 8px;
  border-radius: 4px;
}

.about-subtitle,
.team-subtitle,
.team-position,
.portfolio-subtitle {
  margin-bottom: 8px;
}
.team-title,
.portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-cl);
  text-transform: capitalize;
}

.about-subtitle,
.team-subtitle,
.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--secondary-cl);
}

.about-desc,
.team-position,
.portfolio-info,
.footer-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-text-cl);
}

.team {
  background-color: var(--light-cl);
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-cl);
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}
.team-wrapper {
  padding: 32px 0;
}

.team-subtitle,
.team-position {
  text-align: center;
}
.networks-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.networks-item {
  width: 40px;
  height: 40px;
}
.networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--brand-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-link:hover,
.networks-link:focus {
  background-color: var(--accent-cl);
}

.networks-icon {
  fill: #f4f4fd;
}

.portfolio {
  background-color: var(--primary-white-cl);
}
.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}
.portfolio-desc {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  padding: 40px 32px;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
  background-color: #4d5ae5;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}



/* Footer */
.footer {
  background-color: var(--secondary-cl);
  padding: 100px 0;
}
footer .container {
  display: flex;
  align-items: baseline;
}
.fotter-box {
  margin-right: 120px;
}
.footer .logo {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
.footer .logo-accent {
  color: var(--light-cl);
}
.footer-desc {
  max-width: 264px;
  color: var(--light-cl);
}

footer .networks-link:hover,
footer .networks-link:focus {
  background-color: #31d0aa;
}

.footer-networks-heading {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-white-cl);
  margin-bottom: 16px;
}
.footer .networks-list {
  gap: 16px;
}

.subscription {
  margin-left: 80px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.subsc-text {
  color: var(--primary-white-cl);
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.email-form {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--primary-white-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--primary-white-cl);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-form::placeholder {
  color: var(--primary-white-cl);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: left;
}

.email-form:hover,
.email-form:focus {
  border: 1px solid #31d0aa;
}

.email-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white-cl);
  background-color: var(--brand-cl);
  margin-left: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-btn:focus,
.email-btn:hover {
  /* background-color: var(--accent-cl); */
  background-color: #31d0aa;
}

.email-icon {
  margin-left: 16px;
  fill: var(--primary-white-cl);
}

/* Modal */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 24px;
  padding-top: 72px;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f,
    0px 2px 1px 0px #00000033;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--accent-cl);
  border: none;
}

.icon-close {
  fill: var(--secondary-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .icon-close,
.modal-button:focus .icon-close {
  fill: var(--primary-white-cl);
}
.form-heading {
  color: var(--secondary-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.inbox-form {
  margin-bottom: 8px;
}

.label-form {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--label-cl);
  margin-bottom: 4px;
}

.input-wrapper {
  width: 360px;
  position: relative;
  margin-top: 4px;
}

.input-style {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #2e2f4266;
  padding-left: 38px;
  cursor: pointer;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.input-style:hover,
.input-style:focus {
  border-color:var(--brand-cl);
  /* outline: 1px solid var(--brand-cl); */
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  /* fill: var(--secondary-cl); */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper:hover .form-icon
/* .input-wrapper:focus .form-icon  */
{
  fill: var(--brand-cl);
}
/* .input-style:hover .form-icon,
.input-styler:focus .form-icon {
  fill: var(--accent-cl);
} */
.input-wrapper:focus-within .form-icon {
  fill: var(--brand-cl);
}
.comment-box {
  margin-bottom: 16px;
}

.comment-area {
  width: 100%;
  display: block;
  resize: none;
  height: 120px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.comment-area:hover,
.comment-area:focus {
  /* outline: 1px solid var(--brand-cl); */
  border-color: var(--brand-cl);
}

.comment-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}
.modal-agreement {
  margin-bottom: 24px;
}

.modal-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-agreement-desc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-cl);
}
input[type="checkbox"]:checked + .modal-agreement-desc > .modal-checkbox {
  border: none;
  fill: var(--light-cl);
  border-color: var(--accent-cl);
  background-color: var(--accent-cl);
}

input[type="checkbox"]:focus-visible + .modal-agreement-desc > .modal-checkbox {
  box-shadow: 0 0 0 3px var(--accent-cl);
  
}

.modal-checkbox-icon {
  fill: #f4f4fd;
}

.checkbox-sel {
  color: var(--brand-cl);
  text-decoration: underline;
}

.form-btn {
  display: block;
  min-width: 169px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 16px 32px;
  /* margin: 0 auto; */
  color: var(--primary-white-cl);
  background-color: var(--brand-cl);
  border: none;
  outline: none;
  border-radius: 4px;
  opacity: 0px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:focus,
.form-btn:hover {
  background-color: var(--accent-cl);
}
